# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Project data
data/raw/*
data/processed/*
data/evaluation/*
vectorstore/*

# Logs
*.log